body{
    background-color: black;
    .header{
        display: flex;
        width: 1750px;
        justify-content: space-between;
        .logo{
            background-color: #377DFF;
            width: 243px;
            height: 106px;
            border-radius: 0 0 69px 69px;
            display: flex;
            justify-content: center;
            align-items: center;
            .span1{
                font-size: 24px;
            }
            color: white;
            font-size: 20px;
            
        }
        .ul-text{
            display: flex;
            width:600px;
            justify-content: space-between;
            margin-right: 60px;
            margin-top: 40px;
            .li-text{
                color:#D1E0FB;
                font-size: 20px;
                &:hover{
                    color:#377DFF;
                }
                transition: all 0.3s linear;
            }
        }
       .nav{
           display: flex;
           .btn{
               width: 215px;
               height: 60px;
               background-color:#377DFF;
               margin-top: 20px;
               .span2{
                   color: white;
                   font-size: 20px;
               }
           }
       }
    }
}